<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sahmed.test">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/dasarTunggal"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.example.sahmed.ArabicAlphabetApp.MainActivity"
            android:label="@string/ayoBelajar"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name="com.example.sahmed.ArabicAlphabetApp.AlphabetPage"
            android:parentActivityName="com.example.sahmed.ArabicAlphabetApp.MainActivity"></activity>
        <activity android:name="com.example.sahmed.ArabicAlphabetApp.SambungPage"
            android:parentActivityName="com.example.sahmed.ArabicAlphabetApp.MainActivity"></activity>
        <activity android:name="com.example.sahmed.ArabicAlphabetApp.LarangPage"
            android:parentActivityName="com.example.sahmed.ArabicAlphabetApp.MainActivity"></activity>
        <activity android:name="com.example.sahmed.ArabicAlphabetApp.BerkaitanPage"
            android:parentActivityName="com.example.sahmed.ArabicAlphabetApp.MainActivity"></activity>
        <activity android:name="com.example.sahmed.ArabicAlphabetApp.SecondActivity"></activity>
    </application>

</manifest>